# Defaut
.Ruserdata
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
_quarto.yml

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#data (excludes all data files)
data/*
*.csv
*.txt

#figures & output (excludes all figure files)
outputs/*
outreach/*
illustrations/*
*.png
*.pdf
*.jpeg

# Mardown outputs (exclude html or word docs)
*.html
*.docx

# Bibliography (exclude all bibtex files)
*.bib
*.json

# Embedded files
NBR_SmallScaleFjordFarming_files/*
NBR_SheepGradient_files/*
NBR_SmallScaleFjordFarmingTables_files/*
test_files/*

# Testing & error monitoring
*.log
*.tex
*.aux
test.qmd
test.spl
scripts/TrySumVarTable.R
NBR_SmallScaleFjordFarmingTables.qmd
oldfiles/

# Sumbission files
submission/*
*.spl
*_CoverLetter.qmd
*_Highlights.qmd
*_TitlePage.qmd

# Repo try (will be in new project)
scripts/TradMod_RepoDataCleaning.R
/.quarto/

# Extensions
_extensions/*
elsarticle.cls
elsarticle-harv.bst
