# Defaut
.Ruserdata
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#data (excludes all data files)
data/*
*.csv
*.txt

#figures & output (excludes all figure files)
outputs/*
outreach/*
illustrations/*
*.png
*.pdf
*.jpeg

# Mardown outputs (exclude html or word docs)
*.html
*.docx

# Bibliography (exclude all bibtex files)
*.bib
*.json
NBR_SmallScaleFjordFarming_files/*
NBR_SheepGradient_files/*
NBR_SmallScaleFjordFarmingTables_files/*

# Testing & error monitoring
*.log
*.tex
*.aux
test.qmd
scripts/TrySumVarTable.R
NBR_SmallScaleFjordFarmingTables.qmd

# Repo try (will be in new project)
scripts/TradMod_RepoDataCleaning.R